site_name: Blog of Chenyu He
site_url: https://chenyuheee.github.io
site_description: blog of Chenyu He
repo_url: https://github.com/ChenyuHeee/chenyuheee.github.io.git
edit_uri: edit/main/docs
theme:
  name: material
  palette:
    scheme: slate
    primary: indigo
  language: zh
  features:
    - search.highlight
    - search.share
  icon:
    repo: fontawesome/brands/git-alt
plugins:
  - search:
      lang:
          - en
          - zh
extra:
  version:
    method: mike
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:hechenyu@zju.edu.cn
      name: mail to me
      
copyright: Copyright &copy; 2019 - 2025 Chenyu He
